{namespace import}

import {Foo} from 'proto.proto';
import {Foo as foo, Bar, Baz as baz} from 'foo/proto.proto';
import {template} from 'template.soy';
import * as tpl from 'template.soy';

import
import {
import {foo}
import * from 'template.soy';
import {foo as} from 'proto.proto';
import {foo} from

{template import.import}
    <div class="some class" style="color: white !important"></div>
{/template}
